
/* Made By Kalen Shamy */

body{
  margin: 0 15px 0 15px;
}

#logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 56px;
  height: 123px;
}

.navBar{
  display: flex;
  justify-content: space-between;
  padding: 24px 0px 24px 0px;
  font-family: "Source Sans Pro", arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.424px;
  text-transform: uppercase;
  width: 60%;
  max-width: 500px;
  margin: auto;
}

.CurrentNavPage{
  text-decoration: none;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(111,111,111);
  color: rgb(21,21,21);
}

.CurrentNavPage:hover{
  color: rgb(111,111,111)
}

.NavLink{
  text-decoration: none;
  color: rgb(21,21,21);
}

.NavLink:hover{
  color: rgb(111,111,111)
}

#Welcome{
  margin: 0 auto 0 auto;
}

#Welcome_Text{
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 12px;
  font-weight: 100;
  line-height: 30px;
  text-align: center;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}

#Welcome_JakeHighFiving{
  max-height: 1000px;
}

@media screen and (min-width: 775px){
  #Welcome{
    max-width: 95%;
    width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    background-color: black;
  }
  #Welcome_JakeHighFiving{
    width: 70%;
  }
  #threeBars{
    display: none;
  }
}

@media screen and (max-width: 774px){
  #Welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
  }
  #Welcome_Text{
    flex: 1;
  }

  #Welcome_JakeHighFiving{
    flex: 1;
  }
  #threeBars{
    color: rgb(111,111,111);
  }
  .threeBars:active{
    background-color: white;
  }
  .navBar{
    display: none;
  }
  #logo{
    margin: 2px auto 56px auto
  }
}
